* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
header {
  margin: 70px 73px;
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
ul {
  list-style-type: none;
}
.menu {
  display: flex;
  margin: 0 -50px;
}
.menu li {
  flex: 1 1 auto;
  margin: 0 46px;
  font-size: 14px;
  font-family: 'PlayfairDisplay';
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.714;
}
.photodiary {
  padding-top: 75px;
}
.container {
  padding: 0 7% 100px 7%;
}
.photodiary-title {
  font-size: 14px;
  font-family: 'Ubuntu';
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
}
.photodiary-name {
  font-size: 30px;
  font-family: 'PlayfairDisplay';
  color: rgb(98, 98, 98);
  line-height: 1.2;
  padding: 22px 0;
}
.photodiary-description {
  font-size: 14px;
  font-family: 'PlayfairDisplay';
  color: rgb(98, 98, 98);
  line-height: 1.714;
  padding-top: 7px;
}
.comment {
  font-size: 14px;
  font-family: 'Ubuntu';
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
  padding: 35px 0 130px 0;
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 126px;
  padding-bottom: 17px;
}
.more-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  padding-bottom: 37px;
}
.card-one {
  grid-area: 1 / 1 / 2 / 2;
}
.card-two {
  grid-area: 1 / 2 / 2 / 3;
}
.card-three {
  grid-area: 2 / 1 / 3 / 2;
}
.card-four {
  grid-area: 2 / 2 / 3 / 3;
}
.sign-up-title {
  font-size: 30px;
  font-family: 'PlayfairDisplay';
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
}
.card-title {
  font-size: 14px;
  font-family: 'Ubuntu';
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
  padding: 25px 0 20px 0;
}
.card-name {
  font-size: 30px;
  font-family: 'PlayfairDisplay';
  color: rgb(98, 98, 98);
  line-height: 1.2;
  padding-bottom: 30px;
}
.card-description {
  font-size: 14px;
  font-family: 'PlayfairDisplay';
  color: rgb(98, 98, 98);
  line-height: 1.714;
  margin-bottom: 20px;
}
.share {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.share div {
  margin-right: 10px;
  color: #626262;
}
.share h5 {
  margin-right: 10px;
}
input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid black;
  padding: 12px 5px;
  width: 32%;
  margin-top: 69px;
  margin-left: 33%;
  margin-right: 25%;
}
input {
  background: url(img/send_icon.png) no-repeat scroll 98% 13px;
}
input::placeholder {
  font-size: 14px;
  font-family: 'PlayfairDisplay';
  color: rgb(98, 98, 98);
  line-height: 1.714;
}
.sign-up {
  padding: 70px 0 70px 0;
  margin-bottom: 103px;
  background: #f0f0f0;
}
.first {
  height: 100vh;
  display: grid;
  place-items: center;
}

.slider {
  width: 100vw;
  max-width: 1062px;
  height: 509px;
  position: relative;
  overflow: hidden; /* <===  */
}

.slide {
  width: 100vw;
  max-width: 1062px;
  height: 509px;
  position: absolute;
  transition: all 0.5s;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url(./img/image.png);
}

.slide img {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
}

.btn {
  position: absolute;
  top: 200px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.btn:active {
  transform: scale(1.1);
}
.btn-prev {
  left: 1%;
}

.btn-next {
  right: 1%;
}
.load {
  border-width: 1px;
  color: #626262;
  border-color: rgb(98, 98, 98);
  border-style: solid;
  width: 162px;
  height: 58px;
  font-size: 20px;
  font-family: 'PlayfairDisplay';
  line-height: 1.2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: white;
}
footer {
  margin-top: 50px;
  padding: 35px 47px 36px 138px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #f0f0f0;
}
.footer-left {
  display: flex;
  flex-direction: row;
}
.footer-right {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}
footer div {
  margin-right: 20px;
  font-size: 14px;
  font-family: 'PlayfairDisplay';
  color: rgb(0, 0, 0);
  line-height: 1.714;
}
@media (min-width: 320px) and (max-width: 479px) {
  .photodiary {
    padding-top: 20px;
    width: 100%;
  }
  .photodiary {
    text-align: center;
  }
  input {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu li {
    flex: 1 1 auto;
    margin: 0 7px;
  }
  .menu {
    margin-top: 50px;
  }
  .slider {
    width: 90vw;
  }

  .slide {
    width: 90vw;
  }

  .slide img {
    width: 90vw;
    height: 100vh;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    padding-bottom: 17px;
    text-align: center;
  }
  .more-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    padding-bottom: 50px;
    text-align: center;
  }
  .card-one {
    grid-area: 1 / 1 / 2 / 2;
  }
  .card-two {
    grid-area: 2 / 1 / 3 / 2;
  }
  .card-three {
    grid-area: 3 / 1 / 4 / 2;
  }
  .card-four {
    grid-area: 4 / 1 / 5 / 2;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer-left,
  .footer-right {
    display: flex;
    flex-direction: column;
  }

  footer {
    padding: 35px 20px 36px 20px;
  }
  footer div {
    margin-right: 10px;
  }
}
@media (min-width: 480px) and (max-width: 575px) {
  .photodiary {
    padding-top: 20px;
  }
  input {
    width: 52%;
    margin-left: 25%;
  }
  header {
    margin: 70px 55px;
  }
  .menu li {
    flex: 1 1 auto;
    margin: 0 5px;
  }
  .photodiary {
    text-align: center;
  }
  .slider {
    width: 90vw;
  }

  .slide {
    width: 90vw;
  }

  .slide img {
    width: 90vw;
    height: 100vh;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    padding-bottom: 17px;
    text-align: center;
  }
  .more-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    padding-bottom: 50px;
    text-align: center;
  }
  .card-one {
    grid-area: 1 / 1 / 2 / 2;
  }
  .card-two {
    grid-area: 2 / 1 / 3 / 2;
  }
  .card-three {
    grid-area: 3 / 1 / 4 / 2;
  }
  .card-four {
    grid-area: 4 / 1 / 5 / 2;
  }
  footer {
    padding: 35px 20px 36px 20px;
  }
  footer div {
    margin-right: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .photodiary {
    padding-top: 20px;
  }
  input {
    width: 52%;
    margin-left: 25%;
  }
  .menu li {
    flex: 1 1 auto;
    margin: 0 10px;
  }
  .photodiary {
    text-align: center;
  }
  .slider {
    width: 90vw;
  }

  .slide {
    width: 90vw;
  }

  .slide img {
    width: 90vw;
    height: 100vh;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-bottom: 17px;
    text-align: center;
  }
  .more-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    padding-bottom: 50px;
    text-align: center;
  }
  .card-one {
    grid-area: 1 / 1 / 2 / 2;
  }
  .card-two {
    grid-area: 2 / 1 / 3 / 2;
  }
  .card-three {
    grid-area: 3 / 1 / 4 / 2;
  }
  .card-four {
    grid-area: 4 / 1 / 5 / 2;
  }
  footer {
    padding: 35px 47px 36px 38px;
  }
}
@media (min-width: 768px) and (max-width: 978px) {
  .photodiary {
    padding-top: 20px;
  }
  .menu li {
    flex: 1 1 auto;
    margin: 0 30px;
  }
  .photodiary {
    text-align: center;
  }
  .slider {
    width: 90vw;
  }

  .slide {
    width: 90vw;
  }

  .slide img {
    width: 90vw;
    height: 100vh;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    padding-bottom: 17px;
    text-align: center;
  }
  .more-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    padding-bottom: 50px;
    text-align: center;
  }
  .card-one {
    grid-area: 1 / 1 / 2 / 2;
  }
  .card-two {
    grid-area: 2 / 1 / 3 / 2;
  }
  .card-three {
    grid-area: 3 / 1 / 4 / 2;
  }
  .card-four {
    grid-area: 4 / 1 / 5 / 2;
  }
}
@media (min-width: 979px) and (max-width: 1100px) {
  .cards {
    grid-row-gap: 20px;
  }
  .more-cards {
    grid-column-gap: 20px;
  }
  .card-name {
    font-size: 25px;
  }
  .photodiary {
    padding-top: 70px;
  }
  .slider {
    width: 90vw;
  }

  .slide {
    width: 90vw;
  }

  .slide img {
    width: 90vw;
    height: 100vh;
  }
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}
